.space {
  height: 50px; }

.space-min {
  height: 12px; }

button {
  cursor: pointer; }

.background {
  background-size: 100% 100%; }

.invitation-card-item {
  margin-top: 12px; }

.home-img {
  width: 100%;
  height: inherit; }

.user-avatar {
  width: 28px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px; }

.product {
  background-size: 100% 100%;
  margin: 15px; }
  .product__name, .product__description, .product__image, .product__price {
    word-wrap: break-word;
    background: transparent; }
  .product__title {
    font-weight: 700;
    font-size: 30px; }

.my-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.my-img-01 {
  width: auto;
  height: auto; }
